*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face{
	font-family: FuturaLight;
	src: url(../fonts/FuturaLight.ttf);
}
@font-face{
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.otf);
}
@font-face{
	font-family: QuicksandBold;
	src: url(../fonts/Quicksand-Bold.otf);
}
html{
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("../images/bg.jpg") center no-repeat fixed;
	background-size: cover;
	position: relative;
  	overflow: hidden;
}
#response{
	font-family:FuturaLight;
}
.container{
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}
.profile{
	padding: 10px;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}
.profile-btn{
	padding: 10px;
	position: relative;
	border:none;
	background: none;
	color:white;
	text-transform:uppercase;
}
.profile-btn:hover{
	background-color: white;
	color:black;
	transition:0.5s;
}

/* Navigation Bar */
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.logo{
	width:100%px;
	height:130px;
}

nav ul{
	display: flex;
	list-style: none;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
/* Forum CSS */
#holder{
	max-width: 130rem;
	width:90%;
	color:#000;
	font-family:FuturaLight;
	border:1px solid #FFF;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
}
.title{
	max-width:70rem;
	text-align:center;
	display:block;
	padding:5px;
	padding-top:10px;
	padding-bottom: 10px;
	color:#FFF;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	font-size:14pt;
}
.titledesc{
	max-width:70rem;
	text-align:center;
	padding:5px;
	color:#FFF;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	font-size:12pt;
}
.form{
	font-family:FuturaLight;
	font-weight: bold;
	font-size:13pt;
	max-width:50rem;
	height:30rem;
	margin-left:auto;
	margin-right:auto;
	background:white;
	color:black;
	border-radius:10px;
}
.formInput{
	margin-left:50px;
	margin-right:50px;
}
#inputfld{
	padding: 5px;
}
.titleinput{
	font-size:12pt;
}
.cat_links{
	max-width:70rem;
	display:block;
	padding:5px;
	padding-top:10px;
	padding-bottom: 10px;
	border: 1px solid white;
	color:#FFF;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	font-size:14pt;
}
.cat_links:hover{
	background-color:rgba(0,0,0,0.5);
}

/*Topics */
.postinfo{
	color:black;
}
#topics{
	max-width:70rem;
	display:block;
	padding:5px;
	padding-top:10px;
	padding-bottom: 10px;
	color:#FFF;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
	font-size:12pt;
}
tr{
	background:white;
}
td{
	padding-top:5px;
	padding:10px;
}
#tableLinks{
	color:blue;
	text-decoration:underline;
	padding:10px;
	padding-left:45px;
}
.footer {
   font-size:7.5pt;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   padding-left:5px;
   text-align: left;
}
.sub{
	margin-top:20px;
	padding:10px;
	text-align:center;
	width:270px;
	font-family:FuturaLight;
	font-weight:bold;
}
.submit_btn{
	width:85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 20px auto;
	background: linear-gradient(to right, #1FF872,#A5F81F);
	outline: none;
	border:0;
	border-radius: 5px;
	font-family:FuturaLight;
	font-weight:bold;
	font-size:12pt;
}
.submit_btn:hover{
	background: linear-gradient(to right, #18ED6A,#95E318);
}
.user{
	max-width:200px;
	height:200px;
}